body {
    background-color: #f7f7f7;
  }
  
.inputTasks,
.header, .todoListBoard  {
    width: 300px;
  }
  
  .centered {
    margin: 20px auto;
    text-align: center;
  }
  
  .border {
    border: 1px solid black;
  }
  
  #inputEntered {
    width: 250px;
    height: 50px;
    font-size: 20px;
  }

ul {
    padding: 0;
}

 li {
    list-style: none;
    display: flex;
  }

.setWidth {
    width: 250px;
    margin: 0 auto;
}

